.header {}

.header .container {}

.header-container {
    max-width: 1384px;
}

.header-block:nth-child(1) {
    height: 70px;
}

.header-block {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
    box-sizing: border-box;
}
.header-block_gray {
    display: flex;
    justify-content: center;
    background-color: var(--light-gray);
}

.header-block:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.about-header .header-block {
}
.about-header .header-block:not(:last-child) {
    border-bottom: unset;
}

.header .icon {
}

.header .logo {
    position: absolute;
    left: calc(50% - 58.58px / 2);

    font-size: 24px;
    line-height: 30px;
    color: var(--main-black);
}
.header .right {
    display: flex;
    align-items: center;

    gap: 48px;
}
.header .icons {
    display: flex;
    gap: 16px;
}

.header-block:nth-child(2) {
    justify-content: center;
}

.header .nav {
    display: flex;
    justify-content: center;

    gap: 44px;
}

.header .link {
    color: #726E8D;
}

/* product-header */
.product-header .header-block {
    min-height: 80px;
}
.product-header .logo {
    position: relative;
    left: unset;
}

.product-header .icons {
    display: flex;
    gap: 16px;
}

/* header-alert */
.header-alert {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-white);
    background-color: var(--dark-primary);
}
.header-alert .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    height: 40px;
}
.header-alert .icon {
}
.header-alert .icon path {
    fill: var(--main-white);
}
.header-alert .para {
}
.header-alert .close {
    position: absolute;
    right: 16px;

    display: flex;
    align-items: center;

    width: 24px;
    height: 24px;
}