.advantages {
}
.advantages-section {
}

.advantages .container {
}
.advantages-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;
}
.advantages .headline {
}
.advantages .headline_l3 {
}
.advantages .cards {
    display: flex;
    gap: 60px;
}
.advantages .item {
    flex: 1 1 25%;
}
.advantages .icon {
    width: 24px;
    height: 24px;

    margin-bottom: 16px;
}
.advantages .subtitle {
    display: inline-block;
    margin-bottom: 8px;
}
.advantages .para {
    line-height: 150%;
}