.features {
}
.features-section {
    position: relative;
    height: 603px;
}
.features .container {
    height: 100%;
}
.features-block {
    display: flex;
    height: 100%;
}
.features-block_absolute {
    position: absolute;
    top: 0;

    width: 100%;
    z-index: -1;
}
.features-block_absolute .block {
    height: 100%;
}
.features .block {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    background-color: var(--main-white);
}
.features .description {
    display: flex;
    flex-direction: column;

    gap: 25px;

    padding-right: 100px;
}
.features .headline_l3 {
}
.features .para {
}
.features .button {
    background-color: var(--light-gray);
    color: inherit;
}
.features .image {
}

/* features_v2 */

.features_v2 {
    height: unset;
}
.features_v2 .features-block {
    gap: 16px;
}
.features_v2 .block {
}
.features_v2 .block:nth-child(1) {
    padding: 64px;
    background-color: var(--dark-primary);
}
.features_v2 .description {
    color: var(--main-white);
}
.features_v2 .headline_l2 {
    font-family: 'Clash Display';
}
.features_v2 .para {
}
.features_v2 .button {
    color: var(--main-white);
    background-color: rgba(255, 255, 255, .15);
}
.features_v2 .image {
}

/* product-features */
.product-features {}
.product-features .subscription-block {
    justify-content: flex-end;

    padding: 70px 0 !important;
}
.product-features .content {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 75px;
}
.product-features .title-block {
    display: flex;
    flex-direction: column;

    gap: 21px;
}
.product-features .input-block {
    display: flex;
    max-width: 472px;
}
.product-features .input {
    width: 100%;

    padding: 17px 32px;
    background-color: var(--light-gray);
}
.product-features .button {
    min-width: 118px;
    
    color: var(--main-white);
    background-color: var(--dark-primary);
}


.product-features .features-block_absolute .image img {
    object-position: bottom;
}

/* about_v2 */
.about_v2 .features .block_gray {
    background-color: var(--light-gray);
}