.hero {
    height: calc(100vh - 132px);
}
.hero-section {
    position: relative;
}

.hero .container {
    height: 100%;
}
.hero-block {
    height: 100%;
}
.hero .block {
}
.hero .block:nth-child(1) {
    flex: 1 1 59%;
}
.hero .double-block {
    height: 100%;
}
.hero .double-block:nth-child(2) {
}
.hero .double-title {
}
.hero .button {
}
.hero .dobule-para {
}
.hero .image {
}

/* hero_v2 */
.hero_v2 {
    position: relative;
    height: calc(100vh - 132px);
    /* max-height: 704px; */
}
.hero_v2 .container {
    height: unset;
}
.hero_v2 .hero-block {
    position: absolute;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    max-width: 1280px;
    height: 100%;
    
    padding: 0 !important;
}
.hero_v2 .content {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;

    max-width: 630px;

    gap: 157px;
    padding: 48px 58px;
    background-color: var(--main-white);
}
.hero_v2 .title-block {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.hero_v2 .headline_l2 {
}
.hero_v2 .para {
}
.hero_v2 .button {
    color: var(--dark-primary);
    background-color: var(--light-gray);
}
.hero_v2 .background {
    display: flex;
    width: 100%;
    height: 100%;
    /* max-height: 704px; */
}
.hero_v2 .background img {
    width: 100%;
    height: 100%;
    /* max-height: 704px; */
    object-position: top;
    object-fit: cover;
}

/* product-hero */
.product-hero {
    height: calc(100vh - 120px);
}

.product-hero .container .hero-block {
    display: flex;
    justify-content: flex-end;

    padding: 90px 0;
}
.product-hero .container .block {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 50px;
    padding-left: 100px;
}
.product-hero .container .title-block {
    display: flex;
    align-items: start;
    flex-direction: column;

    gap: 13px;
}
.product-hero .container .headline {
}
.product-hero .container .headline_l1 {
}
.product-hero .container .price {
    font-size: 24px;
    color: #12131A;
}
.product-hero .container .description {
    display: flex;
    align-items: start;
    flex-direction: column;
}
.product-hero .description > *:first-child {
    margin-bottom: 16px;
}
.product-hero .container .title {
    font-family: 'Clash Display';
    font-size: 16px;
}
.product-hero .container .text-block {
    display: flex;
    flex-direction: column;

    gap: 20px;

    color: #505977;
}
.product-hero .text-block .para_medium {
    max-width: 498px;
}
.product-hero .container .para {
}
.product-hero .container .list {
    display: flex;
    align-items: start;
    flex-direction: column;

    margin-left: 25px;
}
.product-hero .container .item {
    list-style:disc;
}
.product-hero .container .table {
    display: flex;

    margin-top: 12px;
}
.product-hero .table tbody {
    display: flex;
    flex-direction: column;
    
    gap: 12px;
}
.product-hero .table tr, td {
    display: flex;
    gap: 58px;
}
.product-hero .table .para_small {
    font-family: 'Clash Display';
    font-weight: 400;
}
.product-hero .table .para_medium {
    color: #505977;
}
.product-hero .container .buy-block {
    display: flex;
    justify-content: space-between;
}
.product-hero .buy-block .block {
    flex: unset;
    align-items: center;
    flex-direction: row;
    
    height: 46px;

    gap: 22px;

    padding-left: 0;
} 
.product-hero .buy-block .para_medium {
    font-family: 'Clash Display';
}
.product-hero .container .amount-block {
    display: flex;
    height: 100%;

    background-color: var(--light-gray);
}
.product-hero .buy-block .button {
    min-width: 143px;
    min-height: 56px;
    background-color: var(--dark-primary);
}
.product-hero .amount-block .button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: unset;
    min-width: 40px;
    
    padding: unset;

    color: var(--border-dark);
    background-color: var(--light-gray);
}
.product-hero .buy-block .plus {
}
.product-hero .buy-block .amount {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 40px;
}

.product-hero .hero-block_absolute {
    position: absolute;
    top: 0;
    z-index: -1;

    display: flex;

    width: 100%;
    height: 100%;
}

.product-hero .hero-block_absolute .block {
    flex: 1 1 50%;
}

/* product-hero_v2 */
.product-hero_v2 {
    background-color: var(--light-gray);
}
.product-hero_v2 .hero-block {
    gap: 65px;
}
.product-hero_v2 .hero-block .block {
    padding-left: unset;
}
.product-hero_v2 .image {
    max-height: 680px;
}
.product-hero_v2 .container .text-block {
    color: var(--dark-primary)
}
.product-hero_v2 .table .para_medium {
    color: var(--dark-primary);
}
.product-hero_v2 .container .price {
    color: var(--dark-primary);
}
.product-hero_v2 .container .amount-block {
    background-color: var(--main-white);
}
.product-hero_v2 .buy-block {
    display: flex;
    align-items: start;
    flex-direction: column;

    gap: 48px;
}
.product-hero_v2 .buy-block .block {
    align-items: start;
    flex-direction: column;

    height: unset;
}
.product-hero_v2 .buy-block .button {
    min-height: 46px;
    background-color: var(--dark-primary);
}
.product-hero_v2 .buttons {
    display: flex;
    gap: 16px;
}
.product-hero_v2 .buttons > *:last-child {
    color: var(--dark-primary);
    background-color: var(--main-white);
}
.product-hero_v2 .amount-block .button {
    background-color: var(--main-white);
}

/* about-hero */
.about-hero {
    height: unset;
}
.about-hero .hero-block {
    display: flex;
    justify-content: center;

    padding: 70px 0 !important;
}
.about-hero .block {
    max-width: 704px;
    text-align: center;
}